<!DOCTYPE html>
<html lang="en">
<head>
<title>Exp11 - Bykates Tabaro</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/styles/main.css" rel="stylesheet" type="text/css" media="all">
<link href="/styles/foot-buttons.css" rel="stylesheet" type="text/css" media="all">
<link href="/styles/action-buttons.css" rel="stylesheet" type="text/css" media="all">
<link href="/styles/pageover.css" rel="stylesheet" type="text/css" media="all">
<style>
  td {
    cursor: default;
    min-width: 170px;
    position: relative;
    vertical-align: middle;
    text-align: center;
  }
</style>
</head>
<body>
<% include banner %>
<div id='actions-box' class='pageover'
  ><div style='padding:16px;border:1px solid white;height:100px;margin:45vh auto;;text-align:center;width:180px'
    ><p>Suruhale(wa)?</p
    ><button onclick='openForm()'>CHANGE</button
    ><button onclick='confirm()'>DELETE</button
    ><button class='action-button' style='position:absolute;top:-8px;right:-4px;' onclick='closeBox(this)'>✖</button
  ></div
></div
><div id='confirm-box' class='pageover'
  ><div style='padding:16px;border:1px solid white;height:100px;margin:45vh auto;text-align:center;width:180px'
    ><p>Bolena?</p
    ><button onclick='deleteCat()'>KOSURE</button
    ><button class='action-button' style='position:absolute;top:-8px;right:-4px;' onclick='closeBox(this)'>✖</button
  ></div
><script>
  let id
  function openForm() {
    let actions = document.getElementById('actions-box')
    actions.style.display = ''
    window.open(`/itms/form/${id}`, "smartForm", "height=1080,width=1920")
  }
  function closeBox(button) {
    button.parentNode.parentNode.style.display=""
  }
  function confirm() {
    let actions = document.getElementById('actions-box')
    actions.style.display = ''
    let confirm = document.getElementById('confirm-box')
    confirm.style.display = 'block'
  }
  function deleteCat() {
    let xhr = new XMLHttpRequest()
    xhr.open('DELETE', '/api/itms', true)
    xhr.setRequestHeader('Content-Type', 'application/json')
    xhr.send(JSON.stringify({id}))
    xhr.onload = function() {
      switch(xhr.status) {
        case 200:
          let confirm = document.getElementById('confirm-box')
          confirm.style.display = ''
          window.location.reload()
          break
      }
    }
  }
</script></div
><div id='main-box'
  >
  <h1>Bykates</h1>
  <%-catsMap%>
  <script>
    document.querySelectorAll('td').forEach(td => {
      let actions = document.getElementById('actions-box')
      td.onclick = function() {
        if (actions.style.display == '') {
          id = this.id
          actions.style.display = 'block'
        }
      }
      td.onmouseover = function() {
        if (actions.style.display == '') {
          td.style['background-color'] = '#2E64DE'
        }
      }
      td.onmouseout = function() {
        td.style['background-color'] = ''
      }
    })
  </script>
  <div class='foot-buttons-box'
    ><button onclick='window.open("/itms/form", "smartForm", "height=1080,width=1920")'>INSERT</button
  ></div
></div
></body>
</html>