<script src="/scripts/prompt-window.src.js"></script>
<div id="prompt-window-mask" class="popup-window-wrapper" style="display:none">
  <div style="padding:16px 32px">
    <h2 id="prompt-window-title" style="4px auto"></h2>
    <p id="prompt-window-message"></p>
    <div id="prompt-window-buttons" class="foot-buttons-box"></div>
  </div>
</div>
