<style>
  #purchase-form-fields>* {
    display: block;
    text-align: right;
    width: 100%;
  }
  #purchase-form-fields>*>input {
    width: 70%;
  }
  #purchase-form-fields>*>textarea {
    border: 0;
    resize: none;
    width: 70%;
  }
</style>
<script>const accountsInfo = <%-JSON.stringify(accountsInfo)%></script>
<script src="/scripts/purchase-form.src.js" defer></script>
<div id="purchase-form-mask" class="popup-window-wrapper" style="display:none">
    <div>
        <button class="action-button" style="position:absolute;top:-8px;right:-4px;" onclick="closePurchaseForm()">✖</button>
        <h2 style="margin-top:0">Purchase Form</h2>
        <div id="purchase-form-fields" style="width:500px">
            <label>Date: <input name="date" type="date"></label>
            <label>Purchase Category: <input name="category" list="purchase-categories-list"></label>
            <label>Currency: <input name="currency" list="currencies-list"></label>
            <label>Amount: <input name="amount" type="number"></label>
            <label>From: <input name="entity" list="business-entities-list"></label>
            <label>Remarks: <textarea name="remarks" placeholder="Any comments..."></textarea></label>
        </div>
        <h3>Payments</h3>
        <p id="no-payments-msg">There are no payment records to show</p>
        <div id="payment-records-wrapper" style="display:none">
          <div>
            <p style="display:inline-block;margin:0;text-align:center;width:112px"><b>Date</b></p><!--
         --><p style="display:inline-block;margin:0;text-align:center;width:150px"><b>Account</b></p><!--
         --><p style="display:inline-block;margin:0;text-align:center;width:150px"><b>Amount</b></p><!--
         --><p style="display:inline-block;margin:0;text-align:center;width:60px"></p>
          </div>
          <div id="payment-records-list" style="max-height:120px;overflow-y:scroll"></div>
        </div>
        <div class="foot-buttons-box">
            <button onclick="addPaymentRow()">ADD PAYMENT</button>
            <button id="purchase-form-sub-btn" onclick="submitPurchaseForm()">SUBMIT</button>
            <button id="purchase-form-del-btn" style="display:none">DELETE</button>
        </div>
    </div>
</div>
