html {
  background-color: #2E9AFE;
  color: #FAFAFA;
}
table {
  background-color: #2E64FE;
  border: 2px solid #FAFAFA;
  border-radius: 16px;
  margin-left: auto;
  margin-right: auto;
  padding: 4px;
  text-align: left;
}
th, td {
  padding: 4px;
  vertical-align: top;
}
td {
  border: 1px dotted white;
}
table tbody:first-child tr:first-child td:first-child {
  border-top-left-radius: 8px;
}
table tbody:first-child tr:first-child td:last-child {
  border-top-right-radius: 8px;
}
table tbody:last-child tr:last-child td:first-child {
  border-bottom-left-radius: 8px;
}
table tbody:last-child tr:last-child td:last-child {
  border-bottom-right-radius: 8px;
}
h1, h2, h3, h4, h5, h6, p, div {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}
input[type='number']::-webkit-inner-spin-button, 
input[type='number']::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type="number"] {
  -moz-appearance: textfield;
}
select:first-child, input:first-child {
  margin-top: 3px;
}
select:last-child, input:last-child {
  margin-bottom: 3px;
}
select, input:not([type='checkbox']):not([type='radio']) {
  margin: 6px auto;
  border: 0;
  border-radius: 4px;
  width: 100%;
}
#error-box {
  background-color: #FF7F50;
  border: 2px solid #FAFAFA;
  border-radius: 16px;
  color: #FAFAFA;
  display: none;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 16px;
  width: max-content;
}