#main-header-week>h1 {
  margin-bottom: 0;
}
#main-header-week>div:nth-child(2)>span {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
  vertical-align:top;
}
#main-header-week>div:nth-child(2)>h3 {
  color: black;
  margin-top: 0;
  display: inline-block;
}